<nav>
    <div class="site-title">
        <a href="/"><h1>PlayList</h1></a>
        <p>Manage Your List</p>
    </div>
    <ul>
        <li><a href="/">List</a></li>
        <li><a href="/lists/create">New List</a></li>
    </ul>
</nav>